{
  "trailingComma": "all",
  "semi": false,
  "singleQuote": true,
  "bracketSameLine": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "printWidth": 120
}
