:root {
  --deep-purple: #673ab7;
  --deep-purple-lighten-5: #ede7f6;
  --deep-purple-lighten-4: #d1c4e9;
  --deep-purple-lighten-3: #b39ddb;
  --deep-purple-lighten-2: #9575cd;
  --deep-purple-lighten-1: #7e57c2;
  --deep-purple-darken-1: #5e35b1;
  --deep-purple-darken-2: #512da8;
  --deep-purple-darken-3: #4527a0;
  --deep-purple-darken-4: #311b92;
  --deep-purple-accent-1: #b388ff;
  --deep-purple-accent-2: #7c4dff;
  --deep-purple-accent-3: #651fff;
  --deep-purple-accent-4: #6200ea;
}