:root {
  --cyan: #00bcd4;
  --cyan-lighten-5: #e0f7fa;
  --cyan-lighten-4: #b2ebf2;
  --cyan-lighten-3: #80deea;
  --cyan-lighten-2: #4dd0e1;
  --cyan-lighten-1: #26c6da;
  --cyan-darken-1: #00acc1;
  --cyan-darken-2: #0097a7;
  --cyan-darken-3: #00838f;
  --cyan-darken-4: #006064;
  --cyan-accent-1: #84ffff;
  --cyan-accent-2: #18ffff;
  --cyan-accent-3: #00e5ff;
  --cyan-accent-4: #00b8d4;
}

.cyan-text {
  color: var(--cyan) !important;
}

.cyan-lighten-5-text {
  color: var(--cyan-lighten-5) !important;
}

.cyan-lighten-4-text {
  color: var(--cyan-lighten-4) !important;
}

.cyan-lighten-3-text {
  color: var(--cyan-lighten-3) !important;
}

.cyan-lighten-2-text {
  color: var(--cyan-lighten-2) !important;
}

.cyan-lighten-1-text {
  color: var(--cyan-lighten-1) !important;
}

.cyan-darken-1-text {
  color: var(--cyan-darken-1) !important;
}

.cyan-darken-2-text {
  color: var(--cyan-darken-2) !important;
}

.cyan-darken-3-text {
  color: var(--cyan-darken-3) !important;
}

.cyan-darken-4-text {
  color: var(--cyan-darken-4) !important;
}

.cyan-accent-1-text {
  color: var(--cyan-accent-1) !important;
}

.cyan-accent-2-text {
  color: var(--cyan-accent-2) !important;
}

.cyan-accent-3-text {
  color: var(--cyan-accent-3) !important;
}

.cyan-accent-4-text {
  color: var(--cyan-accent-4) !important;
}

.cyan-text-hvr:hover {
  color: var(--cyan) !important;
}

.cyan-lighten-5-text-hvr:hover {
  color: var(--cyan-lighten-5) !important;
}

.cyan-lighten-4-text-hvr:hover {
  color: var(--cyan-lighten-4) !important;
}

.cyan-lighten-3-text-hvr:hover {
  color: var(--cyan-lighten-3) !important;
}

.cyan-lighten-2-text-hvr:hover {
  color: var(--cyan-lighten-2) !important;
}

.cyan-lighten-1-text-hvr:hover {
  color: var(--cyan-lighten-1) !important;
}

.cyan-darken-1-text-hvr:hover {
  color: var(--cyan-darken-1) !important;
}

.cyan-darken-2-text-hvr:hover {
  color: var(--cyan-darken-2) !important;
}

.cyan-darken-3-text-hvr:hover {
  color: var(--cyan-darken-3) !important;
}

.cyan-darken-4-text-hvr:hover {
  color: var(--cyan-darken-4) !important;
}

.cyan-accent-1-text-hvr:hover {
  color: var(--cyan-accent-1) !important;
}

.cyan-accent-2-text-hvr:hover {
  color: var(--cyan-accent-2) !important;
}

.cyan-accent-3-text-hvr:hover {
  color: var(--cyan-accent-3) !important;
}

.cyan-accent-4-text-hvr:hover {
  color: var(--cyan-accent-4) !important;
}

.cyan-text-fcs:focus {
  color: var(--cyan) !important;
}

.cyan-lighten-5-text-fcs:focus {
  color: var(--cyan-lighten-5) !important;
}

.cyan-lighten-4-text-fcs:focus {
  color: var(--cyan-lighten-4) !important;
}

.cyan-lighten-3-text-fcs:focus {
  color: var(--cyan-lighten-3) !important;
}

.cyan-lighten-2-text-fcs:focus {
  color: var(--cyan-lighten-2) !important;
}

.cyan-lighten-1-text-fcs:focus {
  color: var(--cyan-lighten-1) !important;
}

.cyan-darken-1-text-fcs:focus {
  color: var(--cyan-darken-1) !important;
}

.cyan-darken-2-text-fcs:focus {
  color: var(--cyan-darken-2) !important;
}

.cyan-darken-3-text-fcs:focus {
  color: var(--cyan-darken-3) !important;
}

.cyan-darken-4-text-fcs:focus {
  color: var(--cyan-darken-4) !important;
}

.cyan-accent-1-text-fcs:focus {
  color: var(--cyan-accent-1) !important;
}

.cyan-accent-2-text-fcs:focus {
  color: var(--cyan-accent-2) !important;
}

.cyan-accent-3-text-fcs:focus {
  color: var(--cyan-accent-3) !important;
}

.cyan-accent-4-text-fcs:focus {
  color: var(--cyan-accent-4) !important;
}
