:root {
  --deep-purple: #673ab7;
  --deep-purple-lighten-5: #ede7f6;
  --deep-purple-lighten-4: #d1c4e9;
  --deep-purple-lighten-3: #b39ddb;
  --deep-purple-lighten-2: #9575cd;
  --deep-purple-lighten-1: #7e57c2;
  --deep-purple-darken-1: #5e35b1;
  --deep-purple-darken-2: #512da8;
  --deep-purple-darken-3: #4527a0;
  --deep-purple-darken-4: #311b92;
  --deep-purple-accent-1: #b388ff;
  --deep-purple-accent-2: #7c4dff;
  --deep-purple-accent-3: #651fff;
  --deep-purple-accent-4: #6200ea;
}

.deep-purple-text {
  color: var(--deep-purple) !important;
}

.deep-purple-lighten-5-text {
  color: var(--deep-purple-lighten-5) !important;
}

.deep-purple-lighten-4-text {
  color: var(--deep-purple-lighten-4) !important;
}

.deep-purple-lighten-3-text {
  color: var(--deep-purple-lighten-3) !important;
}

.deep-purple-lighten-2-text {
  color: var(--deep-purple-lighten-2) !important;
}

.deep-purple-lighten-1-text {
  color: var(--deep-purple-lighten-1) !important;
}

.deep-purple-darken-1-text {
  color: var(--deep-purple-darken-1) !important;
}

.deep-purple-darken-2-text {
  color: var(--deep-purple-darken-2) !important;
}

.deep-purple-darken-3-text {
  color: var(--deep-purple-darken-3) !important;
}

.deep-purple-darken-4-text {
  color: var(--deep-purple-darken-4) !important;
}

.deep-purple-accent-1-text {
  color: var(--deep-purple-accent-1) !important;
}

.deep-purple-accent-2-text {
  color: var(--deep-purple-accent-2) !important;
}

.deep-purple-accent-3-text {
  color: var(--deep-purple-accent-3) !important;
}

.deep-purple-accent-4-text {
  color: var(--deep-purple-accent-4) !important;
}

.deep-purple-text-hvr:hover {
  color: var(--deep-purple) !important;
}

.deep-purple-lighten-5-text-hvr:hover {
  color: var(--deep-purple-lighten-5) !important;
}

.deep-purple-lighten-4-text-hvr:hover {
  color: var(--deep-purple-lighten-4) !important;
}

.deep-purple-lighten-3-text-hvr:hover {
  color: var(--deep-purple-lighten-3) !important;
}

.deep-purple-lighten-2-text-hvr:hover {
  color: var(--deep-purple-lighten-2) !important;
}

.deep-purple-lighten-1-text-hvr:hover {
  color: var(--deep-purple-lighten-1) !important;
}

.deep-purple-darken-1-text-hvr:hover {
  color: var(--deep-purple-darken-1) !important;
}

.deep-purple-darken-2-text-hvr:hover {
  color: var(--deep-purple-darken-2) !important;
}

.deep-purple-darken-3-text-hvr:hover {
  color: var(--deep-purple-darken-3) !important;
}

.deep-purple-darken-4-text-hvr:hover {
  color: var(--deep-purple-darken-4) !important;
}

.deep-purple-accent-1-text-hvr:hover {
  color: var(--deep-purple-accent-1) !important;
}

.deep-purple-accent-2-text-hvr:hover {
  color: var(--deep-purple-accent-2) !important;
}

.deep-purple-accent-3-text-hvr:hover {
  color: var(--deep-purple-accent-3) !important;
}

.deep-purple-accent-4-text-hvr:hover {
  color: var(--deep-purple-accent-4) !important;
}

.deep-purple-text-fcs:focus {
  color: var(--deep-purple) !important;
}

.deep-purple-lighten-5-text-fcs:focus {
  color: var(--deep-purple-lighten-5) !important;
}

.deep-purple-lighten-4-text-fcs:focus {
  color: var(--deep-purple-lighten-4) !important;
}

.deep-purple-lighten-3-text-fcs:focus {
  color: var(--deep-purple-lighten-3) !important;
}

.deep-purple-lighten-2-text-fcs:focus {
  color: var(--deep-purple-lighten-2) !important;
}

.deep-purple-lighten-1-text-fcs:focus {
  color: var(--deep-purple-lighten-1) !important;
}

.deep-purple-darken-1-text-fcs:focus {
  color: var(--deep-purple-darken-1) !important;
}

.deep-purple-darken-2-text-fcs:focus {
  color: var(--deep-purple-darken-2) !important;
}

.deep-purple-darken-3-text-fcs:focus {
  color: var(--deep-purple-darken-3) !important;
}

.deep-purple-darken-4-text-fcs:focus {
  color: var(--deep-purple-darken-4) !important;
}

.deep-purple-accent-1-text-fcs:focus {
  color: var(--deep-purple-accent-1) !important;
}

.deep-purple-accent-2-text-fcs:focus {
  color: var(--deep-purple-accent-2) !important;
}

.deep-purple-accent-3-text-fcs:focus {
  color: var(--deep-purple-accent-3) !important;
}

.deep-purple-accent-4-text-fcs:focus {
  color: var(--deep-purple-accent-4) !important;
}
