:root {
  --lime: #cddc39;
  --lime-lighten-5: #f9fbe7;
  --lime-lighten-4: #f0f4c3;
  --lime-lighten-3: #e6ee9c;
  --lime-lighten-2: #dce775;
  --lime-lighten-1: #d4e157;
  --lime-darken-1: #c0ca33;
  --lime-darken-2: #afb42b;
  --lime-darken-3: #9e9d24;
  --lime-darken-4: #827717;
  --lime-accent-1: #f4ff81;
  --lime-accent-2: #eeff41;
  --lime-accent-3: #c6ff00;
  --lime-accent-4: #aeea00;
}

.lime-text {
  color: var(--lime) !important;
}

.lime-lighten-5-text {
  color: var(--lime-lighten-5) !important;
}

.lime-lighten-4-text {
  color: var(--lime-lighten-4) !important;
}

.lime-lighten-3-text {
  color: var(--lime-lighten-3) !important;
}

.lime-lighten-2-text {
  color: var(--lime-lighten-2) !important;
}

.lime-lighten-1-text {
  color: var(--lime-lighten-1) !important;
}

.lime-darken-1-text {
  color: var(--lime-darken-1) !important;
}

.lime-darken-2-text {
  color: var(--lime-darken-2) !important;
}

.lime-darken-3-text {
  color: var(--lime-darken-3) !important;
}

.lime-darken-4-text {
  color: var(--lime-darken-4) !important;
}

.lime-accent-1-text {
  color: var(--lime-accent-1) !important;
}

.lime-accent-2-text {
  color: var(--lime-accent-2) !important;
}

.lime-accent-3-text {
  color: var(--lime-accent-3) !important;
}

.lime-accent-4-text {
  color: var(--lime-accent-4) !important;
}

.lime-text-hvr:hover {
  color: var(--lime) !important;
}

.lime-lighten-5-text-hvr:hover {
  color: var(--lime-lighten-5) !important;
}

.lime-lighten-4-text-hvr:hover {
  color: var(--lime-lighten-4) !important;
}

.lime-lighten-3-text-hvr:hover {
  color: var(--lime-lighten-3) !important;
}

.lime-lighten-2-text-hvr:hover {
  color: var(--lime-lighten-2) !important;
}

.lime-lighten-1-text-hvr:hover {
  color: var(--lime-lighten-1) !important;
}

.lime-darken-1-text-hvr:hover {
  color: var(--lime-darken-1) !important;
}

.lime-darken-2-text-hvr:hover {
  color: var(--lime-darken-2) !important;
}

.lime-darken-3-text-hvr:hover {
  color: var(--lime-darken-3) !important;
}

.lime-darken-4-text-hvr:hover {
  color: var(--lime-darken-4) !important;
}

.lime-accent-1-text-hvr:hover {
  color: var(--lime-accent-1) !important;
}

.lime-accent-2-text-hvr:hover {
  color: var(--lime-accent-2) !important;
}

.lime-accent-3-text-hvr:hover {
  color: var(--lime-accent-3) !important;
}

.lime-accent-4-text-hvr:hover {
  color: var(--lime-accent-4) !important;
}

.lime-text-fcs:focus {
  color: var(--lime) !important;
}

.lime-lighten-5-text-fcs:focus {
  color: var(--lime-lighten-5) !important;
}

.lime-lighten-4-text-fcs:focus {
  color: var(--lime-lighten-4) !important;
}

.lime-lighten-3-text-fcs:focus {
  color: var(--lime-lighten-3) !important;
}

.lime-lighten-2-text-fcs:focus {
  color: var(--lime-lighten-2) !important;
}

.lime-lighten-1-text-fcs:focus {
  color: var(--lime-lighten-1) !important;
}

.lime-darken-1-text-fcs:focus {
  color: var(--lime-darken-1) !important;
}

.lime-darken-2-text-fcs:focus {
  color: var(--lime-darken-2) !important;
}

.lime-darken-3-text-fcs:focus {
  color: var(--lime-darken-3) !important;
}

.lime-darken-4-text-fcs:focus {
  color: var(--lime-darken-4) !important;
}

.lime-accent-1-text-fcs:focus {
  color: var(--lime-accent-1) !important;
}

.lime-accent-2-text-fcs:focus {
  color: var(--lime-accent-2) !important;
}

.lime-accent-3-text-fcs:focus {
  color: var(--lime-accent-3) !important;
}

.lime-accent-4-text-fcs:focus {
  color: var(--lime-accent-4) !important;
}