.absolute-zero {color: #0048BA;}
.acajou {color: #4C2F27;}
.acid-green {color: #B0BF1A;}
.aero {color: #7CB9E8;}
.aero-blue {color: #C9FFE5;}
.african-violet {color: #B284BE;}
.air-force-blue-raf {color: #5D8AA8;}
.air-force-blue-usaf {color: #00308F;}
.air-superiority-blue {color: #72A0C1;}
.alabama-crimson {color: #AF002A;}
.alice-blue {color: #F0F8FF;}
.alien-armpit {color: #84DE02;}
.alizarin-crimson {color: #E32636;}
.alloy-orange {color: #C46210;}
.almond {color: #EFDECD;}
.amaranth {color: #E52B50;}
.amaranth-deep-purple {color: #9F2B68;}
.amaranth-pink {color: #F19CBB;}
.amaranth-purple {color: #AB274F;}
.amaranth-red {color: #D3212D;}
.amazon {color: #3B7A57;}
.amber {color: #FFBF00;}
.amber-sae-ece {color: #FF7E00;}
.american-rose {color: #FF033E;}
.amethyst {color: #9966CC;}
.android-green {color: #A4C639;}
.anti-flash-white {color: #F2F3F4;}
.antique-brass {color: #CD9575;}
.antique-bronze {color: #665D1E;}
.antique-fuchsia {color: #915C83;}
.antique-ruby {color: #841B2D;}
.antique-white {color: #FAEBD7;}
.ao-english {color: #008000;}
.apple-green {color: #8DB600;}
.apricot {color: #FBCEB1;}
.aqua {color: #00FFFF;}
.aquamarine {color: #7FFFD4;}
.arctic-lime {color: #D0FF14;}
.army-green {color: #4B5320;}
.arsenic {color: #3B444B;}
.artichoke {color: #8F9779;}
.arylide-yellow {color: #E9D66B;}
.ash-grey {color: #B2BEB5;}
.asparagus {color: #87A96B;}
.atomic-tangerine {color: #FF9966;}
.auburn {color: #A52A2A;}
.aureolin {color: #FDEE00;}
.aurometalsaurus {color: #6E7F80;}
.avocado {color: #568203;}
.aztec-gold {color: #C39953;}
.azure {color: #007FFF;}
.azure-web-color {color: #F0FFFF;}
.azure-mist {color: #F0FFFF;}
.azureish-white {color: #DBE9F4;}
.baby-blue {color: #89CFF0;}
.baby-blue-eyes {color: #A1CAF1;}
.baby-pink {color: #F4C2C2;}
.baby-powder {color: #FEFEFA;}
.baker-miller-pink {color: #FF91AF;}
.ball-blue {color: #21ABCD;}
.banana-mania {color: #FAE7B5;}
.banana-yellow {color: #FFE135;}
.bangladesh-green {color: #006A4E;}
.barbie-pink {color: #E0218A;}
.barn-red {color: #7C0A02;}
.battery-charged-blue {color: #1DACD6;}
.battleship-grey {color: #848482;}
.bazaar {color: #98777B;}
.beau-blue {color: #BCD4E6;}
.beaver {color: #9F8170;}
.begonia {color: #FA6E79;}
.beige {color: #F5F5DC;}
.b-dazzled-blue {color: #2E5894;}
.big-dip-o’ruby {color: #9C2542;}
.big-foot-feet {color: #E88E5A;}
.bisque {color: #FFE4C4;}
.bistre {color: #3D2B1F;}
.bistre-brown {color: #967117;}
.bitter-lemon {color: #CAE00D;}
.bitter-lime {color: #BFFF00;}
.bittersweet {color: #FE6F5E;}
.bittersweet-shimmer {color: #BF4F51;}
.black {color: #000000;}
.black-bean {color: #3D0C02;}
.black-coral {color: #54626F;}
.black-leather-jacket {color: #253529;}
.black-olive {color: #3B3C36;}
.black-shadows {color: #BFAFB2;}
.blanched-almond {color: #FFEBCD;}
.blast-off-bronze {color: #A57164;}
.bleu-de-france {color: #318CE7;}
.blizzard-blue {color: #ACE5EE;}
.blond {color: #FAF0BE;}
.blue {color: #0000FF;}
.blue-crayola {color: #1F75FE;}
.blue-munsell {color: #0093AF;}
.blue-ncs {color: #0087BD;}
.blue-pantone {color: #0018A8;}
.blue-pigment {color: #333399;}
.blue-ryb {color: #0247FE;}
.blue-bell {color: #A2A2D0;}
.blue-bolt {color: #00B9FB;}
.blue-gray {color: #6699CC;}
.blue-green {color: #0D98BA;}
.blue-jeans {color: #5DADEC;}
.blue-lagoon {color: #ACE5EE;}
.blue-magenta-violet {color: #553592;}
.blue-sapphire {color: #126180;}
.blue-violet {color: #8A2BE2;}
.blue-yonder {color: #5072A7;}
.blueberry {color: #4F86F7;}
.bluebonnet {color: #1C1CF0;}
.blush {color: #DE5D83;}
.bole {color: #79443B;}
.bondi-blue {color: #0095B6;}
.bone {color: #E3DAC9;}
.booger-buster {color: #DDE26A;}
.boston-university-red {color: #CC0000;}
.bottle-green {color: #006A4E;}
.boysenberry {color: #873260;}
.brandeis-blue {color: #0070FF;}
.brass {color: #B5A642;}
.brick-red {color: #CB4154;}
.bright-cerulean {color: #1DACD6;}
.bright-green {color: #66FF00;}
.bright-lavender {color: #BF94E4;}
.bright-lilac {color: #D891EF;}
.bright-maroon {color: #C32148;}
.bright-navy-blue {color: #1974D2;}
.bright-pink {color: #FF007F;}
.bright-turquoise {color: #08E8DE;}
.bright-ube {color: #D19FE8;}
.bright-yellow-crayola {color: #FFAA1D;}
.brilliant-azure {color: #3399FF;}
.brilliant-lavender {color: #F4BBFF;}
.brilliant-rose {color: #FF55A3;}
.brink-pink {color: #FB607F;}
.british-racing-green {color: #004225;}
.bronze {color: #CD7F32;}
.bronze-yellow {color: #737000;}
.brown-traditional {color: #964B00;}
.brown-web {color: #A52A2A;}
.brown-nose {color: #6B4423;}
.brown-sugar {color: #AF6E4D;}
.brown-yellow {color: #cc9966;}
.brunswick-green {color: #1B4D3E;}
.bubble-gum {color: #FFC1CC;}
.bubbles {color: #E7FEFF;}
.bud-green {color: #7BB661;}
.buff {color: #F0DC82;}
.bulgarian-rose {color: #480607;}
.burgundy {color: #800020;}
.burlywood {color: #DEB887;}
.burnished-brown {color: #A17A74;}
.burnt-orange {color: #CC5500;}
.burnt-sienna {color: #E97451;}
.burnt-umber {color: #8A3324;}
.byzantine {color: #BD33A4;}
.byzantium {color: #702963;}
.cadet {color: #536872;}
.cadet-blue {color: #5F9EA0;}
.cadet-grey {color: #91A3B0;}
.cadmium-green {color: #006B3C;}
.cadmium-orange {color: #ED872D;}
.cadmium-red {color: #E30022;}
.cadmium-yellow {color: #FFF600;}
.café-au-lait {color: #A67B5B;}
.café-noir {color: #4B3621;}
.cal-poly-green {color: #1E4D2B;}
.cambridge-blue {color: #A3C1AD;}
.camel {color: #C19A6B;}
.cameo-pink {color: #EFBBCC;}
.camouflage-green {color: #78866B;}
.canary {color: #FFFF99;}
.canary-yellow {color: #FFEF00;}
.candy-apple-red {color: #FF0800;}
.candy-pink {color: #E4717A;}
.capri {color: #00BFFF;}
.caput-mortuum {color: #592720;}
.cardinal {color: #C41E3A;}
.caribbean-green {color: #00CC99;}
.carmine {color: #960018;}
.carmine-m-p {color: #D70040;}
.carmine-pink {color: #EB4C42;}
.carmine-red {color: #FF0038;}
.carnation-pink {color: #FFA6C9;}
.carnelian {color: #B31B1B;}
.carolina-blue {color: #56A0D3;}
.carrot-orange {color: #ED9121;}
.castleton-green {color: #00563F;}
.catalina-blue {color: #062A78;}
.catawba {color: #703642;}
.cedar-chest {color: #C95A49;}
.ceil {color: #92A1CF;}
.celadon {color: #ACE1AF;}
.celadon-blue {color: #007BA7;}
.celadon-green {color: #2F847C;}
.celeste {color: #B2FFFF;}
.celestial-blue {color: #4997D0;}
.cerise {color: #DE3163;}
.cerise-pink {color: #EC3B83;}
.cerulean {color: #007BA7;}
.cerulean-blue {color: #2A52BE;}
.cerulean-frost {color: #6D9BC3;}
.cg-blue {color: #007AA5;}
.cg-red {color: #E03C31;}
.chamoisee {color: #A0785A;}
.champagne {color: #F7E7CE;}
.champagne-pink {color: #F1DDCF;}
.charcoal {color: #36454F;}
.charleston-green {color: #232B2B;}
.charm-pink {color: #E68FAC;}
.chartreuse-traditional {color: #DFFF00;}
.chartreuse-web {color: #7FFF00;}
.cherry {color: #DE3163;}
.cherry-blossom-pink {color: #FFB7C5;}
.chestnut {color: #954535;}
.china-pink {color: #DE6FA1;}
.china-rose {color: #A8516E;}
.chinese-red {color: #AA381E;}
.chinese-violet {color: #856088;}
.chlorophyll-green {color: #4AFF00;}
.chocolate-traditional {color: #7B3F00;}
.chocolate-web {color: #D2691E;}
.chrome-yellow {color: #FFA700;}
.cinereous {color: #98817B;}
.cinnabar {color: #E34234;}
.cinnamon {color: #D2691E;}
.cinnamon-satin {color: #CD607E;}
.citrine {color: #E4D00A;}
.citron {color: #9FA91F;}
.claret {color: #7F1734;}
.classic-rose {color: #FBCCE7;}
.cobalt-blue {color: #0047AB;}
.cocoa-brown {color: #D2691E;}
.coconut {color: #965A3E;}
.coffee {color: #6F4E37;}
.columbia-blue {color: #C4D8E2;}
.congo-pink {color: #F88379;}
.cool-black {color: #002E63;}
.cool-grey {color: #8C92AC;}
.copper {color: #B87333;}
.copper-crayola {color: #DA8A67;}
.copper-penny {color: #AD6F69;}
.copper-red {color: #CB6D51;}
.copper-rose {color: #996666;}
.coquelicot {color: #FF3800;}
.coral {color: #FF7F50;}
.coral-pink {color: #F88379;}
.coral-red {color: #FF4040;}
.coral-reef {color: #FD7C6E;}
.cordovan {color: #893F45;}
.corn {color: #FBEC5D;}
.cornell-red {color: #B31B1B;}
.cornflower-blue {color: #6495ED;}
.cornsilk {color: #FFF8DC;}
.cosmic-cobalt {color: #2E2D88;}
.cosmic-latte {color: #FFF8E7;}
.coyote-brown {color: #81613C;}
.cotton-candy {color: #FFBCD9;}
.cream {color: #FFFDD0;}
.crimson {color: #DC143C;}
.crimson-glory {color: #BE0032;}
.crimson-red {color: #990000;}
.cultured {color: #F5F5F5;}
.cyan {color: #00FFFF;}
.cyan-azure {color: #4E82B4;}
.cyan-blue-azure {color: #4682BF;}
.cyan-cobalt-blue {color: #28589C;}
.cyan-cornflower-blue {color: #188BC2;}
.cyan-process {color: #00B7EB;}
.cyber-grape {color: #58427C;}
.cyber-yellow {color: #FFD300;}
.cyclamen {color: #F56FA1;}
.daffodil {color: #FFFF31;}
.dandelion {color: #F0E130;}
.dark-blue {color: #00008B;}
.dark-blue-gray {color: #666699;}
.dark-brown {color: #654321;}
.dark-brown-tangelo {color: #88654E;}
.dark-byzantium {color: #5D3954;}
.dark-candy-apple-red {color: #A40000;}
.dark-cerulean {color: #08457E;}
.dark-chestnut {color: #986960;}
.dark-coral {color: #CD5B45;}
.dark-cyan {color: #008B8B;}
.dark-electric-blue {color: #536878;}
.dark-goldenrod {color: #B8860B;}
.dark-gray-x11 {color: #A9A9A9;}
.dark-green {color: #013220;}
.dark-green-x11 {color: #006400;}
.dark-gunmetal {color: #1F262A;}
.dark-imperial-blue {color: #00416A;}
.dark-imperial-blue {color: #6E6EF9;}
.dark-jungle-green {color: #1A2421;}
.dark-khaki {color: #BDB76B;}
.dark-lava {color: #483C32;}
.dark-lavender {color: #734F96;}
.dark-liver {color: #534B4F;}
.dark-liver-horses {color: #543D37;}
.dark-magenta {color: #8B008B;}
.dark-medium-gray {color: #A9A9A9;}
.dark-midnight-blue {color: #003366;}
.dark-moss-green {color: #4A5D23;}
.dark-olive-green {color: #556B2F;}
.dark-orange {color: #FF8C00;}
.dark-orchid {color: #9932CC;}
.dark-pastel-blue {color: #779ECB;}
.dark-pastel-green {color: #03C03C;}
.dark-pastel-purple {color: #966FD6;}
.dark-pastel-red {color: #C23B22;}
.dark-pink {color: #E75480;}
.dark-powder-blue {color: #003399;}
.dark-puce {color: #4F3A3C;}
.dark-purple {color: #301934;}
.dark-raspberry {color: #872657;}
.dark-red {color: #8B0000;}
.dark-salmon {color: #E9967A;}
.dark-scarlet {color: #560319;}
.dark-sea-green {color: #8FBC8F;}
.dark-sienna {color: #3C1414;}
.dark-sky-blue {color: #8CBED6;}
.dark-slate-blue {color: #483D8B;}
.dark-slate-gray {color: #2F4F4F;}
.dark-spring-green {color: #177245;}
.dark-tan {color: #918151;}
.dark-tangerine {color: #FFA812;}
.dark-taupe {color: #483C32;}
.dark-terra-cotta {color: #CC4E5C;}
.dark-turquoise {color: #00CED1;}
.dark-vanilla {color: #D1BEA8;}
.dark-violet {color: #9400D3;}
.dark-yellow {color: #9B870C;}
.dartmouth-green {color: #00703C;}
.davy-s-grey {color: #555555;}
.debian-red {color: #D70A53;}
.deep-aquamarine {color: #40826D;}
.deep-carmine {color: #A9203E;}
.deep-carmine-pink {color: #EF3038;}
.deep-carrot-orange {color: #E9692C;}
.deep-cerise {color: #DA3287;}
.deep-champagne {color: #FAD6A5;}
.deep-chestnut {color: #B94E48;}
.deep-coffee {color: #704241;}
.deep-fuchsia {color: #C154C1;}
.deep-green {color: #056608;}
.deep-green-cyan-turquoise {color: #0E7C61;}
.deep-jungle-green {color: #004B49;}
.deep-koamaru {color: #333366;}
.deep-lemon {color: #F5C71A;}
.deep-lilac {color: #9955BB;}
.deep-magenta {color: #CC00CC;}
.deep-maroon {color: #820000;}
.deep-mauve {color: #D473D4;}
.deep-moss-green {color: #355E3B;}
.deep-peach {color: #FFCBA4;}
.deep-pink {color: #FF1493;}
.deep-puce {color: #A95C68;}
.deep-red {color: #850101;}
.deep-ruby {color: #843F5B;}
.deep-saffron {color: #FF9933;}
.deep-sky-blue {color: #00BFFF;}
.deep-space-sparkle {color: #4A646C;}
.deep-spring-bud {color: #556B2F;}
.deep-taupe {color: #7E5E60;}
.deep-tuscan-red {color: #66424D;}
.deep-violet {color: #330066;}
.deer {color: #BA8759;}
.denim {color: #1560BD;}
.denim-blue {color: #2243B6;}
.desaturated-cyan {color: #669999;}
.desert {color: #C19A6B;}
.desert-sand {color: #EDC9AF;}
.desire {color: #EA3C53;}
.diamond {color: #B9F2FF;}
.dim-gray {color: #696969;}
.dingy-dungeon {color: #C53151;}
.dirt {color: #9B7653;}
.dodger-blue {color: #1E90FF;}
.dogwood-rose {color: #D71868;}
.dollar-bill {color: #85BB65;}
.dolphin-gray {color: #828E84;}
.donkey-brown {color: #664C28;}
.drab {color: #967117;}
.duke-blue {color: #00009C;}
.dust-storm {color: #E5CCC9;}
.dutch-white {color: #EFDFBB;}
.earth-yellow {color: #E1A95F;}
.ebony {color: #555D50;}
.ecru {color: #C2B280;}
.eerie-black {color: #1B1B1B;}
.eggplant {color: #614051;}
.eggshell {color: #F0EAD6;}
.egyptian-blue {color: #1034A6;}
.electric-blue {color: #7DF9FF;}
.electric-crimson {color: #FF003F;}
.electric-cyan {color: #00FFFF;}
.electric-green {color: #00FF00;}
.electric-indigo {color: #6F00FF;}
.electric-lavender {color: #F4BBFF;}
.electric-lime {color: #CCFF00;}
.electric-purple {color: #BF00FF;}
.electric-ultramarine {color: #3F00FF;}
.electric-violet {color: #8F00FF;}
.electric-yellow {color: #FFFF33;}
.emerald {color: #50C878;}
.eminence {color: #6C3082;}
.english-green {color: #1B4D3E;}
.english-lavender {color: #B48395;}
.english-red {color: #AB4B52;}
.english-vermillion {color: #CC474B;}
.english-violet {color: #563C5C;}
.eton-blue {color: #96C8A2;}
.eucalyptus {color: #44D7A8;}
.fallow {color: #C19A6B;}
.falu-red {color: #801818;}
.fandango {color: #B53389;}
.fandango-pink {color: #DE5285;}
.fashion-fuchsia {color: #F400A1;}
.fawn {color: #E5AA70;}
.feldgrau {color: #4D5D53;}
.feldspar {color: #FDD5B1;}
.fern-green {color: #4F7942;}
.ferrari-red {color: #FF2800;}
.field-drab {color: #6C541E;}
.fiery-rose {color: #FF5470;}
.firebrick {color: #B22222;}
.fire-engine-red {color: #CE2029;}
.flame {color: #E25822;}
.flamingo-pink {color: #FC8EAC;}
.flattery {color: #6B4423;}
.flavescent {color: #F7E98E;}
.flax {color: #EEDC82;}
.flirt {color: #A2006D;}
.floral-white {color: #FFFAF0;}
.fluorescent-orange {color: #FFBF00;}
.fluorescent-pink {color: #FF1493;}
.fluorescent-yellow {color: #CCFF00;}
.folly {color: #FF004F;}
.forest-green-traditional {color: #014421;}
.forest-green-web {color: #228B22;}
.french-beige {color: #A67B5B;}
.french-bistre {color: #856D4D;}
.french-blue {color: #0072BB;}
.french-fuchsia {color: #FD3F92;}
.french-lilac {color: #86608E;}
.french-lime {color: #9EFD38;}
.french-mauve {color: #D473D4;}
.french-pink {color: #FD6C9E;}
.french-plum {color: #811453;}
.french-puce {color: #4E1609;}
.french-raspberry {color: #C72C48;}
.french-rose {color: #F64A8A;}
.french-sky-blue {color: #77B5FE;}
.french-violet {color: #8806CE;}
.french-wine {color: #AC1E44;}
.fresh-air {color: #A6E7FF;}
.frostbite {color: #E936A7;}
.fuchsia {color: #FF00FF;}
.fuchsia-crayola {color: #C154C1;}
.fuchsia-pink {color: #FF77FF;}
.fuchsia-purple {color: #CC397B;}
.fuchsia-rose {color: #C74375;}
.fulvous {color: #E48400;}
.fuzzy-wuzzy {color: #CC6666;}
.gainsboro {color: #DCDCDC;}
.gamboge {color: #E49B0F;}
.gamboge-orange-brown {color: #996600;}
.gargoyle-gas {color: #FFDF46;}
.generic-viridian {color: #007F66;}
.ghost-white {color: #F8F8FF;}
.giant-s-club {color: #B05C52;}
.giants-orange {color: #FE5A1D;}
.ginger {color: #B06500;}
.glaucous {color: #6082B6;}
.glitter {color: #E6E8FA;}
.glossy-grape {color: #AB92B3;}
.go-green {color: #00AB66;}
.gold-metallic {color: #D4AF37;}
.gold-web-golden {color: #FFD700;}
.gold-fusion {color: #85754E;}
.golden-brown {color: #996515;}
.golden-poppy {color: #FCC200;}
.golden-yellow {color: #FFDF00;}
.goldenrod {color: #DAA520;}
.granite-gray {color: #676767;}
.granny-smith-apple {color: #A8E4A0;}
.grape {color: #6F2DA8;}
.gray {color: #808080;}
.gray-html-css-gray {color: #808080;}
.gray-x11-gray {color: #BEBEBE;}
.gray-asparagus {color: #465945;}
.gray-blue {color: #8C92AC;}
.green-color-wheel-x11-green {color: #00FF00;}
.green-crayola {color: #1CAC78;}
.green-html-css-color {color: #008000;}
.green-munsell {color: #00A877;}
.green-ncs {color: #009F6B;}
.green-pantone {color: #00AD43;}
.green-pigment {color: #00A550;}
.green-ryb {color: #66B032;}
.green-blue {color: #1164B4;}
.green-cyan {color: #009966;}
.green-lizard {color: #A7F432;}
.green-sheen {color: #6EAEA1;}
.green-yellow {color: #ADFF2F;}
.grizzly {color: #885818;}
.grullo {color: #A99A86;}
.guppie-green {color: #00FF7F;}
.gunmetal {color: #2a3439;}
.halayà-úbe {color: #663854;}
.han-blue {color: #446CCF;}
.han-purple {color: #5218FA;}
.hansa-yellow {color: #E9D66B;}
.harlequin {color: #3FFF00;}
.harlequin-green {color: #46CB18;}
.harvard-crimson {color: #C90016;}
.harvest-gold {color: #DA9100;}
.heart-gold {color: #808000;}
.heat-wave {color: #FF7A00;}
.heidelberg-red {color: #960018;}
.heliotrope {color: #DF73FF;}
.heliotrope-gray {color: #AA98A9;}
.heliotrope-magenta {color: #AA00BB;}
.hollywood-cerise {color: #F400A1;}
.honeydew {color: #F0FFF0;}
.honolulu-blue {color: #006DB0;}
.hooker-s-green {color: #49796B;}
.hot-magenta {color: #FF1DCE;}
.hot-pink {color: #FF69B4;}
.hunter-green {color: #355E3B;}
.iceberg {color: #71A6D2;}
.icterine {color: #FCF75E;}
.iguana-green {color: #71BC78;}
.illuminating-emerald {color: #319177;}
.imperial {color: #602F6B;}
.imperial-blue {color: #002395;}
.imperial-purple {color: #66023C;}
.imperial-red {color: #ED2939;}
.inchworm {color: #B2EC5D;}
.independence {color: #4C516D;}
.india-green {color: #138808;}
.indian-red {color: #CD5C5C;}
.indian-yellow {color: #E3A857;}
.indigo {color: #4B0082;}
.indigo-dye {color: #091F92;}
.indigo-web {color: #4B0082;}
.infra-red {color: #FF496C;}
.interdimensional-blue {color: #360CCC;}
.international-klein-blue {color: #002FA7;}
.international-orange-aerospace {color: #FF4F00;}
.international-orange-engineering {color: #BA160C;}
.international-orange-golden-gate-bridge {color: #C0362C;}
.iris {color: #5A4FCF;}
.irresistible {color: #B3446C;}
.isabelline {color: #F4F0EC;}
.islamic-green {color: #009000;}
.italian-sky-blue {color: #B2FFFF;}
.ivory {color: #FFFFF0;}
.jade {color: #00A86B;}
.japanese-carmine {color: #9D2933;}
.japanese-indigo {color: #264348;}
.japanese-violet {color: #5B3256;}
.jasmine {color: #F8DE7E;}
.jasper {color: #D73B3E;}
.jazzberry-jam {color: #A50B5E;}
.jelly-bean {color: #DA614E;}
.jet {color: #343434;}
.jonquil {color: #F4CA16;}
.jordy-blue {color: #8AB9F1;}
.june-bud {color: #BDDA57;}
.jungle-green {color: #29AB87;}
.kelly-green {color: #4CBB17;}
.kenyan-copper {color: #7C1C05;}
.keppel {color: #3AB09E;}
.key-lime {color: #E8F48C;}
.khaki-html-css-khaki {color: #C3B091;}
.khaki-x11-light-khaki {color: #F0E68C;}
.kiwi {color: #8EE53F;}
.kobe {color: #882D17;}
.kobi {color: #E79FC4;}
.kobicha {color: #6B4423;}
.kombu-green {color: #354230;}
.ksu-purple {color: #512888;}
.ku-crimson {color: #E8000D;}
.la-salle-green {color: #087830;}
.languid-lavender {color: #D6CADD;}
.lapis-lazuli {color: #26619C;}
.laser-lemon {color: #FFFF66;}
.laurel-green {color: #A9BA9D;}
.lava {color: #CF1020;}
.lavender-floral {color: #B57EDC;}
.lavender-web {color: #E6E6FA;}
.lavender-blue {color: #CCCCFF;}
.lavender-blush {color: #FFF0F5;}
.lavender-gray {color: #C4C3D0;}
.lavender-indigo {color: #9457EB;}
.lavender-magenta {color: #EE82EE;}
.lavender-mist {color: #E6E6FA;}
.lavender-pink {color: #FBAED2;}
.lavender-purple {color: #967BB6;}
.lavender-rose {color: #FBA0E3;}
.lawn-green {color: #7CFC00;}
.lemon {color: #FFF700;}
.lemon-chiffon {color: #FFFACD;}
.lemon-curry {color: #CCA01D;}
.lemon-glacier {color: #FDFF00;}
.lemon-lime {color: #E3FF00;}
.lemon-meringue {color: #F6EABE;}
.lemon-yellow {color: #FFF44F;}
.licorice {color: #1A1110;}
.liberty {color: #545AA7;}
.light-apricot {color: #FDD5B1;}
.light-blue {color: #ADD8E6;}
.light-brown {color: #B5651D;}
.light-carmine-pink {color: #E66771;}
.light-cobalt-blue {color: #88ACE0;}
.light-coral {color: #F08080;}
.light-cornflower-blue {color: #93CCEA;}
.light-crimson {color: #F56991;}
.light-cyan {color: #E0FFFF;}
.light-deep-pink {color: #FF5CCD;}
.light-french-beige {color: #C8AD7F;}
.light-fuchsia-pink {color: #F984EF;}
.light-goldenrod-yellow {color: #FAFAD2;}
.light-gray {color: #D3D3D3;}
.light-grayish-magenta {color: #CC99CC;}
.light-green {color: #90EE90;}
.light-hot-pink {color: #FFB3DE;}
.light-khaki {color: #F0E68C;}
.light-medium-orchid {color: #D39BCB;}
.light-moss-green {color: #ADDFAD;}
.light-orchid {color: #E6A8D7;}
.light-pastel-purple {color: #B19CD9;}
.light-pink {color: #FFB6C1;}
.light-red-ochre {color: #E97451;}
.light-salmon {color: #FFA07A;}
.light-salmon-pink {color: #FF9999;}
.light-sea-green {color: #20B2AA;}
.light-sky-blue {color: #87CEFA;}
.light-slate-gray {color: #778899;}
.light-steel-blue {color: #B0C4DE;}
.light-taupe {color: #B38B6D;}
.light-thulian-pink {color: #E68FAC;}
.light-yellow {color: #FFFFE0;}
.lilac {color: #C8A2C8;}
.lilac-luster {color: #AE98AA;}
.lime-color-wheel {color: #BFFF00;}
.lime-web-x11-green {color: #00FF00;}
.lime-green {color: #32CD32;}
.limerick {color: #9DC209;}
.lincoln-green {color: #195905;}
.linen {color: #FAF0E6;}
.lion {color: #C19A6B;}
.liseran-purple {color: #DE6FA1;}
.little-boy-blue {color: #6CA0DC;}
.liver {color: #674C47;}
.liver-dogs {color: #B86D29;}
.liver-organ {color: #6C2E1F;}
.liver-chestnut {color: #987456;}
.livid {color: #6699CC;}
.lumber {color: #FFE4CD;}
.lust {color: #E62020;}
.maastricht-blue {color: #001C3D;}
.macaroni-and-cheese {color: #FFBD88;}
.madder-lake {color: #CC3336;}
.magenta {color: #FF00FF;}
.magenta-crayola {color: #FF55A3;}
.magenta-dye {color: #CA1F7B;}
.magenta-pantone {color: #D0417E;}
.magenta-process {color: #FF0090;}
.magenta-haze {color: #9F4576;}
.magenta-pink {color: #CC338B;}
.magic-mint {color: #AAF0D1;}
.magic-potion {color: #FF4466;}
.magnolia {color: #F8F4FF;}
.mahogany {color: #C04000;}
.maize {color: #FBEC5D;}
.majorelle-blue {color: #6050DC;}
.malachite {color: #0BDA51;}
.manatee {color: #979AAA;}
.mandarin {color: #F37A48;}
.mango-tango {color: #FF8243;}
.mantis {color: #74C365;}
.mardi-gras {color: #880085;}
.marigold {color: #EAA221;}
.maroon-crayola {color: #C32148;}
.maroon-html-css {color: #800000;}
.maroon-x11 {color: #B03060;}
.mauve {color: #E0B0FF;}
.mauve-taupe {color: #915F6D;}
.mauvelous {color: #EF98AA;}
.maximum-blue {color: #47ABCC;}
.maximum-blue-green {color: #30BFBF;}
.maximum-blue-purple {color: #ACACE6;}
.maximum-green {color: #5E8C31;}
.maximum-green-yellow {color: #D9E650;}
.maximum-purple {color: #733380;}
.maximum-red {color: #D92121;}
.maximum-red-purple {color: #A63A79;}
.maximum-yellow {color: #FAFA37;}
.maximum-yellow-red {color: #F2BA49;}
.may-green {color: #4C9141;}
.maya-blue {color: #73C2FB;}
.meat-brown {color: #E5B73B;}
.medium-aquamarine {color: #66DDAA;}
.medium-blue {color: #0000CD;}
.medium-candy-apple-red {color: #E2062C;}
.medium-carmine {color: #AF4035;}
.medium-champagne {color: #F3E5AB;}
.medium-electric-blue {color: #035096;}
.medium-jungle-green {color: #1C352D;}
.medium-lavender-magenta {color: #DDA0DD;}
.medium-orchid {color: #BA55D3;}
.medium-persian-blue {color: #0067A5;}
.medium-purple {color: #9370DB;}
.medium-red-violet {color: #BB3385;}
.medium-ruby {color: #AA4069;}
.medium-sea-green {color: #3CB371;}
.medium-sky-blue {color: #80DAEB;}
.medium-slate-blue {color: #7B68EE;}
.medium-spring-bud {color: #C9DC87;}
.medium-spring-green {color: #00FA9A;}
.medium-taupe {color: #674C47;}
.medium-turquoise {color: #48D1CC;}
.medium-tuscan-red {color: #79443B;}
.medium-vermilion {color: #D9603B;}
.medium-violet-red {color: #C71585;}
.mellow-apricot {color: #F8B878;}
.mellow-yellow {color: #F8DE7E;}
.melon {color: #FDBCB4;}
.metallic-seaweed {color: #0A7E8C;}
.metallic-sunburst {color: #9C7C38;}
.metal-pink {color: #FF00FD;}
.mexican-pink {color: #E4007C;}
.middle-blue {color: #7ED4E6;}
.middle-blue-green {color: #8DD9CC;}
.middle-blue-purple {color: #8B72BE;}
.middle-red-purple {color: #8B8680;}
.middle-green {color: #4D8C57;}
.middle-green-yellow {color: #ACBF60;}
.middle-purple {color: #D982B5;}
.middle-red {color: #E58E73;}
.middle-red-purple {color: #A55353;}
.middle-yellow {color: #FFEB00;}
.middle-yellow-red {color: #ECB176;}
.midnight {color: #702670;}
.midnight-blue {color: #191970;}
.midnight-green-eagle-green {color: #004953;}
.mikado-yellow {color: #FFC40C;}
.mimi-pink {color: #FFDAE9;}
.mindaro {color: #E3F988;}
.ming {color: #36747D;}
.minion-yellow {color: #F5E050;}
.mint {color: #3EB489;}
.mint-cream {color: #F5FFFA;}
.mint-green {color: #98FF98;}
.misty-moss {color: #BBB477;}
.misty-rose {color: #FFE4E1;}
.moccasin {color: #FAEBD7;}
.mode-beige {color: #967117;}
.moonstone-blue {color: #73A9C2;}
.mordant-red-19 {color: #AE0C00;}
.moss-green {color: #8A9A5B;}
.mountain-meadow {color: #30BA8F;}
.mountbatten-pink {color: #997A8D;}
.msu-green {color: #18453B;}
.mughal-green {color: #306030;}
.mulberry {color: #C54B8C;}
.mummy-s-tomb {color: #828E84;}
.mustard {color: #FFDB58;}
.myrtle-green {color: #317873;}
.mystic {color: #D65282;}
.mystic-maroon {color: #AD4379;}
.nadeshiko-pink {color: #F6ADC6;}
.napier-green {color: #2A8000;}
.naples-yellow {color: #FADA5E;}
.navajo-white {color: #FFDEAD;}
.navy {color: #000080;}
.navy-purple {color: #9457EB;}
.neon-carrot {color: #FFA343;}
.neon-fuchsia {color: #FE4164;}
.neon-green {color: #39FF14;}
.new-car {color: #214FC6;}
.new-york-pink {color: #D7837F;}
.nickel {color: #727472;}
.non-photo-blue {color: #A4DDED;}
.north-texas-green {color: #059033;}
.nyanza {color: #E9FFDB;}
.ocean-blue {color: #4F42B5;}
.ocean-boat-blue {color: #0077BE;}
.ocean-green {color: #48BF91;}
.ochre {color: #CC7722;}
.office-green {color: #008000;}
.ogre-odor {color: #FD5240;}
.old-burgundy {color: #43302E;}
.old-gold {color: #CFB53B;}
.old-heliotrope {color: #563C5C;}
.old-lace {color: #FDF5E6;}
.old-lavender {color: #796878;}
.old-mauve {color: #673147;}
.old-moss-green {color: #867E36;}
.old-rose {color: #C08081;}
.old-silver {color: #848482;}
.olive {color: #808000;}
.olive-drab-#3 {color: #6B8E23;}
.olive-drab-#7 {color: #3C341F;}
.olivine {color: #9AB973;}
.onyx {color: #353839;}
.opera-mauve {color: #B784A7;}
.orange-color-wheel {color: #FF7F00;}
.orange-crayola {color: #FF7538;}
.orange-pantone {color: #FF5800;}
.orange-ryb {color: #FB9902;}
.orange-web {color: #FFA500;}
.orange-peel {color: #FF9F00;}
.orange-red {color: #FF4500;}
.orange-soda {color: #FA5B3D;}
.orange-yellow {color: #F8D568;}
.orchid {color: #DA70D6;}
.orchid-pink {color: #F2BDCD;}
.orioles-orange {color: #FB4F14;}
.otter-brown {color: #654321;}
.outer-space {color: #414A4C;}
.outrageous-orange {color: #FF6E4A;}
.oxford-blue {color: #002147;}
.ou-crimson-red {color: #990000;}
.pacific-blue {color: #1CA9C9;}
.pakistan-green {color: #006600;}
.palatinate-blue {color: #273BE2;}
.palatinate-purple {color: #682860;}
.pale-aqua {color: #BCD4E6;}
.pale-blue {color: #AFEEEE;}
.pale-brown {color: #987654;}
.pale-carmine {color: #AF4035;}
.pale-cerulean {color: #9BC4E2;}
.pale-chestnut {color: #DDADAF;}
.pale-copper {color: #DA8A67;}
.pale-cornflower-blue {color: #ABCDEF;}
.pale-cyan {color: #87D3F8;}
.pale-gold {color: #E6BE8A;}
.pale-goldenrod {color: #EEE8AA;}
.pale-green {color: #98FB98;}
.pale-lavender {color: #DCD0FF;}
.pale-magenta {color: #F984E5;}
.pale-magenta-pink {color: #FF99CC;}
.pale-pink {color: #FADADD;}
.pale-plum {color: #DDA0DD;}
.pale-red-violet {color: #DB7093;}
.pale-robin-egg-blue {color: #96DED1;}
.pale-silver {color: #C9C0BB;}
.pale-spring-bud {color: #ECEBBD;}
.pale-taupe {color: #BC987E;}
.pale-turquoise {color: #AFEEEE;}
.pale-violet {color: #CC99FF;}
.pale-violet-red {color: #DB7093;}
.palm-leaf {color: #6F9940;}
.pansy-purple {color: #78184A;}
.paolo-veronese-green {color: #009B7D;}
.papaya-whip {color: #FFEFD5;}
.paradise-pink {color: #E63E62;}
.paris-green {color: #50C878;}
.parrot-pink {color: #D998A0;}
.pastel-blue {color: #AEC6CF;}
.pastel-brown {color: #836953;}
.pastel-gray {color: #CFCFC4;}
.pastel-green {color: #77DD77;}
.pastel-magenta {color: #F49AC2;}
.pastel-orange {color: #FFB347;}
.pastel-pink {color: #DEA5A4;}
.pastel-purple {color: #B39EB5;}
.pastel-red {color: #FF6961;}
.pastel-violet {color: #CB99C9;}
.pastel-yellow {color: #FDFD96;}
.patriarch {color: #800080;}
.payne-s-grey {color: #536878;}
.peach {color: #FFE5B4;}
.peach {color: #FFCBA4;}
.peach-orange {color: #FFCC99;}
.peach-puff {color: #FFDAB9;}
.peach-yellow {color: #FADFAD;}
.pear {color: #D1E231;}
.pearl {color: #EAE0C8;}
.pearl-aqua {color: #88D8C0;}
.pearly-purple {color: #B768A2;}
.peridot {color: #E6E200;}
.periwinkle {color: #CCCCFF;}
.permanent-geranium-lake {color: #E12C2C;}
.persian-blue {color: #1C39BB;}
.persian-green {color: #00A693;}
.persian-indigo {color: #32127A;}
.persian-orange {color: #D99058;}
.persian-pink {color: #F77FBE;}
.persian-plum {color: #701C1C;}
.persian-red {color: #CC3333;}
.persian-rose {color: #FE28A2;}
.persimmon {color: #EC5800;}
.peru {color: #CD853F;}
.pewter-blue {color: #8BA8B7;}
.phlox {color: #DF00FF;}
.phthalo-blue {color: #000F89;}
.phthalo-green {color: #123524;}
.picton-blue {color: #45B1E8;}
.pictorial-carmine {color: #C30B4E;}
.piggy-pink {color: #FDDDE6;}
.pine-green {color: #01796F;}
.pineapple {color: #563C5C;}
.pink {color: #FFC0CB;}
.pink-pantone {color: #D74894;}
.pink-flamingo {color: #FC74FD;}
.pink-lace {color: #FFDDF4;}
.pink-lavender {color: #D8B2D1;}
.pink-orange {color: #FF9966;}
.pink-pearl {color: #E7ACCF;}
.pink-raspberry {color: #980036;}
.pink-sherbet {color: #F78FA7;}
.pistachio {color: #93C572;}
.pixie-powder {color: #391285;}
.platinum {color: #E5E4E2;}
.plum {color: #8E4585;}
.plum-web {color: #DDA0DD;}
.plump-purple {color: #5946B2;}
.polished-pine {color: #5DA493;}
.pomp-and-power {color: #86608E;}
.popstar {color: #BE4F62;}
.portland-orange {color: #FF5A36;}
.powder-blue {color: #B0E0E6;}
.princess-perfume {color: #FF85CF;}
.princeton-orange {color: #F58025;}
.prune {color: #701C1C;}
.prussian-blue {color: #003153;}
.psychedelic-purple {color: #DF00FF;}
.puce {color: #CC8899;}
.puce-red {color: #722F37;}
.pullman-brown-ups-brown {color: #644117;}
.pullman-green {color: #3B331C;}
.pumpkin {color: #FF7518;}
.purple-html {color: #800080;}
.purple-munsell {color: #9F00C5;}
.purple-x11 {color: #A020F0;}
.purple-heart {color: #69359C;}
.purple-mountain-majesty {color: #9678B6;}
.purple-navy {color: #4E5180;}
.purple-pizzazz {color: #FE4EDA;}
.purple-plum {color: #9C51B6;}
.purple-taupe {color: #50404D;}
.purpureus {color: #9A4EAE;}
.quartz {color: #51484F;}
.queen-blue {color: #436B95;}
.queen-pink {color: #E8CCD7;}
.quick-silver {color: #A6A6A6;}
.quinacridone-magenta {color: #8E3A59;}
.rackley {color: #5D8AA8;}
.radical-red {color: #FF355E;}
.raisin-black {color: #242124;}
.rajah {color: #FBAB60;}
.raspberry {color: #E30B5D;}
.raspberry-glace {color: #915F6D;}
.raspberry-pink {color: #E25098;}
.raspberry-rose {color: #B3446C;}
.raw-sienna {color: #D68A59;}
.raw-umber {color: #826644;}
.razzle-dazzle-rose {color: #FF33CC;}
.razzmatazz {color: #E3256B;}
.razzmic-berry {color: #8D4E85;}
.rebecca-purple {color: #663399;}
.red {color: #FF0000;}
.red-crayola {color: #EE204D;}
.red-munsell {color: #F2003C;}
.red-ncs {color: #C40233;}
.red-pantone {color: #ED2939;}
.red-pigment {color: #ED1C24;}
.red-ryb {color: #FE2712;}
.red-brown {color: #A52A2A;}
.red-devil {color: #860111;}
.red-orange {color: #FF5349;}
.red-purple {color: #E40078;}
.red-salsa {color: #FD3A4A;}
.red-violet {color: #C71585;}
.redwood {color: #A45A52;}
.regalia {color: #522D80;}
.registration-black {color: #000000;}
.resolution-blue {color: #002387;}
.rhythm {color: #777696;}
.rich-black {color: #004040;}
.rich-black-fogra29 {color: #010B13;}
.rich-black-fogra39 {color: #010203;}
.rich-brilliant-lavender {color: #F1A7FE;}
.rich-carmine {color: #D70040;}
.rich-electric-blue {color: #0892D0;}
.rich-lavender {color: #A76BCF;}
.rich-lilac {color: #B666D2;}
.rich-maroon {color: #B03060;}
.rifle-green {color: #444C38;}
.roast-coffee {color: #704241;}
.robin-egg-blue {color: #00CCCC;}
.rocket-metallic {color: #8A7F80;}
.roman-silver {color: #838996;}
.rose {color: #FF007F;}
.rose-bonbon {color: #F9429E;}
.rose-dust {color: #9E5E6F;}
.rose-ebony {color: #674846;}
.rose-gold {color: #B76E79;}
.rose-madder {color: #E32636;}
.rose-pink {color: #FF66CC;}
.rose-quartz {color: #AA98A9;}
.rose-red {color: #C21E56;}
.rose-taupe {color: #905D5D;}
.rose-vale {color: #AB4E52;}
.rosewood {color: #65000B;}
.rosso-corsa {color: #D40000;}
.rosy-brown {color: #BC8F8F;}
.royal-azure {color: #0038A8;}
.royal-blue {color: #002366;}
.royal-blue {color: #4169E1;}
.royal-fuchsia {color: #CA2C92;}
.royal-purple {color: #7851A9;}
.royal-yellow {color: #FADA5E;}
.ruber {color: #CE4676;}
.rubine-red {color: #D10056;}
.ruby {color: #E0115F;}
.ruby-red {color: #9B111E;}
.ruddy {color: #FF0028;}
.ruddy-brown {color: #BB6528;}
.ruddy-pink {color: #E18E96;}
.rufous {color: #A81C07;}
.russet {color: #80461B;}
.russian-green {color: #679267;}
.russian-violet {color: #32174D;}
.rust {color: #B7410E;}
.rusty-red {color: #DA2C43;}
.sacramento-state-green {color: #00563F;}
.saddle-brown {color: #8B4513;}
.safety-orange {color: #FF7800;}
.safety-orange-blaze-orange {color: #FF6700;}
.safety-yellow {color: #EED202;}
.saffron {color: #F4C430;}
.sage {color: #BCB88A;}
.st.-patrick-s-blue {color: #23297A;}
.salmon {color: #FA8072;}
.salmon-pink {color: #FF91A4;}
.sand {color: #C2B280;}
.sand-dune {color: #967117;}
.sandstorm {color: #ECD540;}
.sandy-brown {color: #F4A460;}
.sandy-tan {color: #FDD9B5;}
.sandy-taupe {color: #967117;}
.sangria {color: #92000A;}
.sap-green {color: #507D2A;}
.sapphire {color: #0F52BA;}
.sapphire-blue {color: #0067A5;}
.sasquatch-socks {color: #FF4681;}
.satin-sheen-gold {color: #CBA135;}
.scarlet {color: #FF2400;}
.scarlet {color: #FD0E35;}
.schauss-pink {color: #FF91AF;}
.school-bus-yellow {color: #FFD800;}
.screamin--green {color: #66FF66;}
.sea-blue {color: #006994;}
.sea-foam-green {color: #9FE2BF;}
.sea-green {color: #2E8B57;}
.sea-serpent {color: #4BC7CF;}
.seal-brown {color: #59260B;}
.seashell {color: #FFF5EE;}
.selective-yellow {color: #FFBA00;}
.sepia {color: #704214;}
.shadow {color: #8A795D;}
.shadow-blue {color: #778BA5;}
.shampoo {color: #FFCFF1;}
.shamrock-green {color: #009E60;}
.sheen-green {color: #8FD400;}
.shimmering-blush {color: #D98695;}
.shiny-shamrock {color: #5FA778;}
.shocking-pink {color: #FC0FC0;}
.shocking-pink-crayola {color: #FF6FFF;}
.sienna {color: #882D17;}
.silver {color: #C0C0C0;}
.silver-chalice {color: #ACACAC;}
.silver-lake-blue {color: #5D89BA;}
.silver-pink {color: #C4AEAD;}
.silver-sand {color: #BFC1C2;}
.sinopia {color: #CB410B;}
.sizzling-red {color: #FF3855;}
.sizzling-sunrise {color: #FFDB00;}
.skobeloff {color: #007474;}
.sky-blue {color: #87CEEB;}
.sky-magenta {color: #CF71AF;}
.slate-blue {color: #6A5ACD;}
.slate-gray {color: #708090;}
.smalt-dark-powder-blue {color: #003399;}
.slimy-green {color: #299617;}
.smashed-pumpkin {color: #FF6D3A;}
.smitten {color: #C84186;}
.smoke {color: #738276;}
.smokey-topaz {color: #832A0D;}
.smoky-black {color: #100C08;}
.smoky-topaz {color: #933D41;}
.snow {color: #FFFAFA;}
.soap {color: #CEC8EF;}
.solid-pink {color: #893843;}
.sonic-silver {color: #757575;}
.spartan-crimson {color: #9E1316;}
.space-cadet {color: #1D2951;}
.spanish-bistre {color: #807532;}
.spanish-blue {color: #0070B8;}
.spanish-carmine {color: #D10047;}
.spanish-crimson {color: #E51A4C;}
.spanish-gray {color: #989898;}
.spanish-green {color: #009150;}
.spanish-orange {color: #E86100;}
.spanish-pink {color: #F7BFBE;}
.spanish-red {color: #E60026;}
.spanish-sky-blue {color: #00FFFF;}
.spanish-violet {color: #4C2882;}
.spanish-viridian {color: #007F5C;}
.spicy-mix {color: #8B5f4D;}
.spiro-disco-ball {color: #0FC0FC;}
.spring-bud {color: #A7FC00;}
.spring-frost {color: #87FF2A;}
.spring-green {color: #00FF7F;}
.star-command-blue {color: #007BB8;}
.steel-blue {color: #4682B4;}
.steel-pink {color: #CC33CC;}
.steel-teal {color: #5F8A8B;}
.stil-de-grain-yellow {color: #FADA5E;}
.stizza {color: #990000;}
.stormcloud {color: #4F666A;}
.straw {color: #E4D96F;}
.strawberry {color: #FC5A8D;}
.sugar-plum {color: #914E75;}
.sunburnt-cyclops {color: #FF404C;}
.sunglow {color: #FFCC33;}
.sunny {color: #F2F27A;}
.sunray {color: #E3AB57;}
.sunset {color: #FAD6A5;}
.sunset-orange {color: #FD5E53;}
.super-pink {color: #CF6BA9;}
.sweet-brown {color: #A83731;}
.tan {color: #D2B48C;}
.tangelo {color: #F94D00;}
.tangerine {color: #F28500;}
.tangerine-yellow {color: #FFCC00;}
.tango-pink {color: #E4717A;}
.tart-orange {color: #FB4D46;}
.taupe {color: #483C32;}
.taupe-gray {color: #8B8589;}
.tea-green {color: #D0F0C0;}
.tea-rose {color: #F88379;}
.tea-rose {color: #F4C2C2;}
.teal {color: #008080;}
.teal-blue {color: #367588;}
.teal-deer {color: #99E6B3;}
.teal-green {color: #00827F;}
.telemagenta {color: #CF3476;}
.tenné {color: #CD5700;}
.terra-cotta {color: #E2725B;}
.thistle {color: #D8BFD8;}
.thulian-pink {color: #DE6FA1;}
.tickle-me-pink {color: #FC89AC;}
.tiffany-blue {color: #0ABAB5;}
.tiger-s-eye {color: #E08D3C;}
.timberwolf {color: #DBD7D2;}
.titanium-yellow {color: #EEE600;}
.tomato {color: #FF6347;}
.toolbox {color: #746CC0;}
.topaz {color: #FFC87C;}
.tractor-red {color: #FD0E35;}
.trolley-grey {color: #808080;}
.tropical-rain-forest {color: #00755E;}
.tropical-violet {color: #CDA4DE;}
.true-blue {color: #0073CF;}
.tufts-blue {color: #417DC1;}
.tulip {color: #FF878D;}
.tumbleweed {color: #DEAA88;}
.turkish-rose {color: #B57281;}
.turquoise {color: #40E0D0;}
.turquoise-blue {color: #00FFEF;}
.turquoise-green {color: #A0D6B4;}
.turquoise-surf {color: #00C5CD;}
.turtle-green {color: #8A9A5B;}
.tuscan {color: #FAD6A5;}
.tuscan-brown {color: #6F4E37;}
.tuscan-red {color: #7C4848;}
.tuscan-tan {color: #A67B5B;}
.tuscany {color: #C09999;}
.twilight-lavender {color: #8A496B;}
.tyrian-purple {color: #66023C;}
.ua-blue {color: #0033AA;}
.ua-red {color: #D9004C;}
.ube {color: #8878C3;}
.ucla-blue {color: #536895;}
.ucla-gold {color: #FFB300;}
.ufo-green {color: #3CD070;}
.ultramarine {color: #3F00FF;}
.ultramarine-blue {color: #4166F5;}
.ultra-pink {color: #FF6FFF;}
.ultra-red {color: #FC6C85;}
.umber {color: #635147;}
.unbleached-silk {color: #FFDDCA;}
.united-nations-blue {color: #5B92E5;}
.university-of-california-gold {color: #B78727;}
.unmellow-yellow {color: #FFFF66;}
.up-forest-green {color: #014421;}
.up-maroon {color: #7B1113;}
.upsdell-red {color: #AE2029;}
.urobilin {color: #E1AD21;}
.usafa-blue {color: #004F98;}
.usc-cardinal {color: #990000;}
.usc-gold {color: #FFCC00;}
.university-of-tennessee-orange {color: #F77F00;}
.utah-crimson {color: #D3003F;}
.van-dyke-brown {color: #664228;}
.vanilla {color: #F3E5AB;}
.vanilla-ice {color: #F38FA9;}
.vegas-gold {color: #C5B358;}
.venetian-red {color: #C80815;}
.verdigris {color: #43B3AE;}
.vermilion {color: #E34234;}
.vermilion {color: #D9381E;}
.veronica {color: #A020F0;}
.very-light-azure {color: #74BBFB;}
.very-light-blue {color: #6666FF;}
.very-light-malachite-green {color: #64E986;}
.very-light-tangelo {color: #FFB077;}
.very-pale-orange {color: #FFDFBF;}
.very-pale-yellow {color: #FFFFBF;}
.vespie-rose {color: #FF0080;}
.violet {color: #8F00FF;}
.violet-color-wheel {color: #7F00FF;}
.violet-ryb {color: #8601AF;}
.violet-web {color: #EE82EE;}
.violet-blue {color: #324AB2;}
.violet-red {color: #F75394;}
.viridian {color: #40826D;}
.viridian-green {color: #009698;}
.vista-blue {color: #7C9ED9;}
.vivid-amber {color: #CC9900;}
.vivid-auburn {color: #922724;}
.vivid-burgundy {color: #9F1D35;}
.vivid-cerise {color: #DA1D81;}
.vivid-cerulean {color: #00AAEE;}
.vivid-crimson {color: #CC0033;}
.vivid-gamboge {color: #FF9900;}
.vivid-lime-green {color: #A6D608;}
.vivid-malachite {color: #00CC33;}
.vivid-mulberry {color: #B80CE3;}
.vivid-orange {color: #FF5F00;}
.vivid-orange-peel {color: #FFA000;}
.vivid-orchid {color: #CC00FF;}
.vivid-raspberry {color: #FF006C;}
.vivid-red {color: #F70D1A;}
.vivid-red-tangelo {color: #DF6124;}
.vivid-sky-blue {color: #00CCFF;}
.vivid-tangelo {color: #F07427;}
.vivid-tangerine {color: #FFA089;}
.vivid-vermilion {color: #E56024;}
.vivid-violet {color: #9F00FF;}
.vivid-yellow {color: #FFE302;}
.volt {color: #CEFF00;}
.wageningen-green {color: #34B233;}
.warm-black {color: #004242;}
.waterspout {color: #A4F4F9;}
.weldon-blue {color: #7C98AB;}
.wenge {color: #645452;}
.wheat {color: #F5DEB3;}
.white {color: #FFFFFF;}
.white-smoke {color: #F5F5F5;}
.wild-blue-yonder {color: #A2ADD0;}
.wild-orchid {color: #D470A2;}
.wild-strawberry {color: #FF43A4;}
.wild-watermelon {color: #FC6C85;}
.willpower-orange {color: #FD5800;}
.windsor-tan {color: #A75502;}
.wine {color: #722F37;}
.wine-dregs {color: #673147;}
.winter-sky {color: #FF007C;}
.winter-wizard {color: #A0E6FF;}
.wintergreen-dream {color: #56887D;}
.wisteria {color: #C9A0DC;}
.wood-brown {color: #C19A6B;}
.xanadu {color: #738678;}
.yale-blue {color: #0F4D92;}
.yankees-blue {color: #1C2841;}
.yellow {color: #FFFF00;}
.yellow-crayola {color: #FCE883;}
.yellow-munsell {color: #EFCC00;}
.yellow-ncs {color: #FFD300;}
.yellow-pantone {color: #FEDF00;}
.yellow-process {color: #FFEF00;}
.yellow-ryb {color: #FEFE33;}
.yellow-green {color: #9ACD32;}
.yellow-orange {color: #FFAE42;}
.yellow-rose {color: #FFF000;}
.yellow-sunshine {color: #FFF700;}
.zaffre {color: #0014A8;}
.zinnwaldite-brown {color: #2C1608;}
.zomp {color: #39A78E;}
