:root {
  --brown: #795548;
  --brown-lighten-5: #efebe9;
  --brown-lighten-4: #d7ccc8;
  --brown-lighten-3: #bcaaa4;
  --brown-lighten-2: #a1887f;
  --brown-lighten-1: #8d6e63;
  --brown-darken-1: #6d4c41;
  --brown-darken-2: #5d4037;
  --brown-darken-3: #4e342e;
  --brown-darken-4: #3e2723;
}

.border-brown {
  border-color: var(--brown) !important;
}

.border-brown-lighten-5 {
  border-color: var(--brown-lighten-5) !important;
}

.border-brown-lighten-4 {
  border-color: var(--brown-lighten-4) !important;
}

.border-brown-lighten-3 {
  border-color: var(--brown-lighten-3) !important;
}

.border-brown-lighten-2 {
  border-color: var(--brown-lighten-2) !important;
}

.border-brown-lighten-1 {
  border-color: var(--brown-lighten-1) !important;
}

.border-brown-darken-1 {
  border-color: var(--brown-darken-1) !important;
}

.border-brown-darken-2 {
  border-color: var(--brown-darken-2) !important;
}

.border-brown-darken-3 {
  border-color: var(--brown-darken-3) !important;
}

.border-brown-darken-4 {
  border-color: var(--brown-darken-4) !important;
}

.border-brown-hvr:hover {
  border-color: var(--brown) !important;
}

.border-brown-lighten-5-hvr:hover {
  border-color: var(--brown-lighten-5) !important;
}

.border-brown-lighten-4-hvr:hover {
  border-color: var(--brown-lighten-4) !important;
}

.border-brown-lighten-3-hvr:hover {
  border-color: var(--brown-lighten-3) !important;
}

.border-brown-lighten-2-hvr:hover {
  border-color: var(--brown-lighten-2) !important;
}

.border-brown-lighten-1-hvr:hover {
  border-color: var(--brown-lighten-1) !important;
}

.border-brown-darken-1-hvr:hover {
  border-color: var(--brown-darken-1) !important;
}

.border-brown-darken-2-hvr:hover {
  border-color: var(--brown-darken-2) !important;
}

.border-brown-darken-3-hvr:hover {
  border-color: var(--brown-darken-3) !important;
}

.border-brown-darken-4-hvr:hover {
  border-color: var(--brown-darken-4) !important;
}

.border-brown-fcs:focus {
  border-color: var(--brown) !important;
}

.border-brown-lighten-5-fcs:focus {
  border-color: var(--brown-lighten-5) !important;
}

.border-brown-lighten-4-fcs:focus {
  border-color: var(--brown-lighten-4) !important;
}

.border-brown-lighten-3-fcs:focus {
  border-color: var(--brown-lighten-3) !important;
}

.border-brown-lighten-2-fcs:focus {
  border-color: var(--brown-lighten-2) !important;
}

.border-brown-lighten-1-fcs:focus {
  border-color: var(--brown-lighten-1) !important;
}

.border-brown-darken-1-fcs:focus {
  border-color: var(--brown-darken-1) !important;
}

.border-brown-darken-2-fcs:focus {
  border-color: var(--brown-darken-2) !important;
}

.border-brown-darken-3-fcs:focus {
  border-color: var(--brown-darken-3) !important;
}

.border-brown-darken-4-fcs:focus {
  border-color: var(--brown-darken-4) !important;
}
