:root {
  --deep-orange: #ff5722;
  --deep-orange-lighten-5: #fbe9e7;
  --deep-orange-lighten-4: #ffccbc;
  --deep-orange-lighten-3: #ffab91;
  --deep-orange-lighten-2: #ff8a65;
  --deep-orange-lighten-1: #ff7043;
  --deep-orange-darken-1: #f4511e;
  --deep-orange-darken-2: #e64a19;
  --deep-orange-darken-3: #d84315;
  --deep-orange-darken-4: #bf360c;
  --deep-orange-accent-1: #ff9e80;
  --deep-orange-accent-2: #ff6e40;
  --deep-orange-accent-3: #ff3d00;
  --deep-orange-accent-4: #dd2c00;
}

.border-deep-orange {
  border-color: var(--deep-orange) !important;
}

.border-deep-orange-lighten-5 {
  border-color: var(--deep-orange-lighten-5) !important;
}

.border-deep-orange-lighten-4 {
  border-color: var(--deep-orange-lighten-4) !important;
}

.border-deep-orange-lighten-3 {
  border-color: var(--deep-orange-lighten-3) !important;
}

.border-deep-orange-lighten-2 {
  border-color: var(--deep-orange-lighten-2) !important;
}

.border-deep-orange-lighten-1 {
  border-color: var(--deep-orange-lighten-1) !important;
}

.border-deep-orange-darken-1 {
  border-color: var(--deep-orange-darken-1) !important;
}

.border-deep-orange-darken-2 {
  border-color: var(--deep-orange-darken-2) !important;
}

.border-deep-orange-darken-3 {
  border-color: var(--deep-orange-darken-3) !important;
}

.border-deep-orange-darken-4 {
  border-color: var(--deep-orange-darken-4) !important;
}

.border-deep-orange-accent-1 {
  border-color: var(--deep-orange-accent-1) !important;
}

.border-deep-orange-accent-2 {
  border-color: var(--deep-orange-accent-2) !important;
}

.border-deep-orange-accent-3 {
  border-color: var(--deep-orange-accent-3) !important;
}

.border-deep-orange-accent-4 {
  border-color: var(--deep-orange-accent-4) !important;
}

.border-deep-orange-hvr:hover {
  border-color: var(--deep-orange) !important;
}

.border-deep-orange-lighten-5-hvr:hover {
  border-color: var(--deep-orange-lighten-5) !important;
}

.border-deep-orange-lighten-4-hvr:hover {
  border-color: var(--deep-orange-lighten-4) !important;
}

.border-deep-orange-lighten-3-hvr:hover {
  border-color: var(--deep-orange-lighten-3) !important;
}

.border-deep-orange-lighten-2-hvr:hover {
  border-color: var(--deep-orange-lighten-2) !important;
}

.border-deep-orange-lighten-1-hvr:hover {
  border-color: var(--deep-orange-lighten-1) !important;
}

.border-deep-orange-darken-1-hvr:hover {
  border-color: var(--deep-orange-darken-1) !important;
}

.border-deep-orange-darken-2-hvr:hover {
  border-color: var(--deep-orange-darken-2) !important;
}

.border-deep-orange-darken-3-hvr:hover {
  border-color: var(--deep-orange-darken-3) !important;
}

.border-deep-orange-darken-4-hvr:hover {
  border-color: var(--deep-orange-darken-4) !important;
}

.border-deep-orange-accent-1-hvr:hover {
  border-color: var(--deep-orange-accent-1) !important;
}

.border-deep-orange-accent-2-hvr:hover {
  border-color: var(--deep-orange-accent-2) !important;
}

.border-deep-orange-accent-3-hvr:hover {
  border-color: var(--deep-orange-accent-3) !important;
}

.border-deep-orange-accent-4-hvr:hover {
  border-color: var(--deep-orange-accent-4) !important;
}

.border-deep-orange-fcs:focus {
  border-color: var(--deep-orange) !important;
}

.border-deep-orange-lighten-5-fcs:focus {
  border-color: var(--deep-orange-lighten-5) !important;
}

.border-deep-orange-lighten-4-fcs:focus {
  border-color: var(--deep-orange-lighten-4) !important;
}

.border-deep-orange-lighten-3-fcs:focus {
  border-color: var(--deep-orange-lighten-3) !important;
}

.border-deep-orange-lighten-2-fcs:focus {
  border-color: var(--deep-orange-lighten-2) !important;
}

.border-deep-orange-lighten-1-fcs:focus {
  border-color: var(--deep-orange-lighten-1) !important;
}

.border-deep-orange-darken-1-fcs:focus {
  border-color: var(--deep-orange-darken-1) !important;
}

.border-deep-orange-darken-2-fcs:focus {
  border-color: var(--deep-orange-darken-2) !important;
}

.border-deep-orange-darken-3-fcs:focus {
  border-color: var(--deep-orange-darken-3) !important;
}

.border-deep-orange-darken-4-fcs:focus {
  border-color: var(--deep-orange-darken-4) !important;
}

.border-deep-orange-accent-1-fcs:focus {
  border-color: var(--deep-orange-accent-1) !important;
}

.border-deep-orange-accent-2-fcs:focus {
  border-color: var(--deep-orange-accent-2) !important;
}

.border-deep-orange-accent-3-fcs:focus {
  border-color: var(--deep-orange-accent-3) !important;
}

.border-deep-orange-accent-4-fcs:focus {
  border-color: var(--deep-orange-accent-4) !important;
}
