:root {
  --light-green: #8bc34a;
  --light-green-lighten-5: #f1f8e9;
  --light-green-lighten-4: #dcedc8;
  --light-green-lighten-3: #c5e1a5;
  --light-green-lighten-2: #aed581;
  --light-green-lighten-1: #9ccc65;
  --light-green-darken-1: #7cb342;
  --light-green-darken-2: #689f38;
  --light-green-darken-3: #558b2f;
  --light-green-darken-4: #33691e;
  --light-green-accent-1: #ccff90;
  --light-green-accent-2: #b2ff59;
  --light-green-accent-3: #76ff03;
  --light-green-accent-4: #64dd17;
}

.border-light-green {
  border-color: var(--light-green) !important;
}

.border-light-green-lighten-5 {
  border-color: var(--light-green-lighten-5) !important;
}

.border-light-green-lighten-4 {
  border-color: var(--light-green-lighten-4) !important;
}

.border-light-green-lighten-3 {
  border-color: var(--light-green-lighten-3) !important;
}

.border-light-green-lighten-2 {
  border-color: var(--light-green-lighten-2) !important;
}

.border-light-green-lighten-1 {
  border-color: var(--light-green-lighten-1) !important;
}

.border-light-green-darken-1 {
  border-color: var(--light-green-darken-1) !important;
}

.border-light-green-darken-2 {
  border-color: var(--light-green-darken-2) !important;
}

.border-light-green-darken-3 {
  border-color: var(--light-green-darken-3) !important;
}

.border-light-green-darken-4 {
  border-color: var(--light-green-darken-4) !important;
}

.border-light-green-accent-1 {
  border-color: var(--light-green-accent-1) !important;
}

.border-light-green-accent-2 {
  border-color: var(--light-green-accent-2) !important;
}

.border-light-green-accent-3 {
  border-color: var(--light-green-accent-3) !important;
}

.border-light-green-accent-4 {
  border-color: var(--light-green-accent-4) !important;
}

.border-light-green-hvr:hover {
  border-color: var(--light-green) !important;
}

.border-light-green-lighten-5-hvr:hover {
  border-color: var(--light-green-lighten-5) !important;
}

.border-light-green-lighten-4-hvr:hover {
  border-color: var(--light-green-lighten-4) !important;
}

.border-light-green-lighten-3-hvr:hover {
  border-color: var(--light-green-lighten-3) !important;
}

.border-light-green-lighten-2-hvr:hover {
  border-color: var(--light-green-lighten-2) !important;
}

.border-light-green-lighten-1-hvr:hover {
  border-color: var(--light-green-lighten-1) !important;
}

.border-light-green-darken-1-hvr:hover {
  border-color: var(--light-green-darken-1) !important;
}

.border-light-green-darken-2-hvr:hover {
  border-color: var(--light-green-darken-2) !important;
}

.border-light-green-darken-3-hvr:hover {
  border-color: var(--light-green-darken-3) !important;
}

.border-light-green-darken-4-hvr:hover {
  border-color: var(--light-green-darken-4) !important;
}

.border-light-green-accent-1-hvr:hover {
  border-color: var(--light-green-accent-1) !important;
}

.border-light-green-accent-2-hvr:hover {
  border-color: var(--light-green-accent-2) !important;
}

.border-light-green-accent-3-hvr:hover {
  border-color: var(--light-green-accent-3) !important;
}

.border-light-green-accent-4-hvr:hover {
  border-color: var(--light-green-accent-4) !important;
}

.border-light-green-fcs:focus {
  border-color: var(--light-green) !important;
}

.border-light-green-lighten-5-fcs:focus {
  border-color: var(--light-green-lighten-5) !important;
}

.border-light-green-lighten-4-fcs:focus {
  border-color: var(--light-green-lighten-4) !important;
}

.border-light-green-lighten-3-fcs:focus {
  border-color: var(--light-green-lighten-3) !important;
}

.border-light-green-lighten-2-fcs:focus {
  border-color: var(--light-green-lighten-2) !important;
}

.border-light-green-lighten-1-fcs:focus {
  border-color: var(--light-green-lighten-1) !important;
}

.border-light-green-darken-1-fcs:focus {
  border-color: var(--light-green-darken-1) !important;
}

.border-light-green-darken-2-fcs:focus {
  border-color: var(--light-green-darken-2) !important;
}

.border-light-green-darken-3-fcs:focus {
  border-color: var(--light-green-darken-3) !important;
}

.border-light-green-darken-4-fcs:focus {
  border-color: var(--light-green-darken-4) !important;
}

.border-light-green-accent-1-fcs:focus {
  border-color: var(--light-green-accent-1) !important;
}

.border-light-green-accent-2-fcs:focus {
  border-color: var(--light-green-accent-2) !important;
}

.border-light-green-accent-3-fcs:focus {
  border-color: var(--light-green-accent-3) !important;
}

.border-light-green-accent-4-fcs:focus {
  border-color: var(--light-green-accent-4) !important;
}
