:root {
  --red: #f44336;
  --red-lighten-5: #ffebee;
  --red-lighten-4: #ffcdd2;
  --red-lighten-3: #ef9a9a;
  --red-lighten-2: #e57373;
  --red-lighten-1: #ef5350;
  --red-darken-1: #e53935;
  --red-darken-2: #d32f2f;
  --red-darken-3: #c62828;
  --red-darken-4: #b71c1c;
  --red-accent-1: #ff8a80;
  --red-accent-2: #ff5252;
  --red-accent-3: #ff1744;
  --red-accent-4: #d50000;
}

.border-red {
  border-color: var(--red) !important;
}

.border-red-lighten-5 {
  border-color: var(--red-lighten-5) !important;
}

.border-red-lighten-4 {
  border-color: var(--red-lighten-4) !important;
}

.border-red-lighten-3 {
  border-color: var(--red-lighten-3) !important;
}

.border-red-lighten-2 {
  border-color: var(--red-lighten-2) !important;
}

.border-red-lighten-1 {
  border-color: var(--red-lighten-1) !important;
}

.border-red-darken-1 {
  border-color: var(--red-darken-1) !important;
}

.border-red-darken-2 {
  border-color: var(--red-darken-2) !important;
}

.border-red-darken-3 {
  border-color: var(--red-darken-3) !important;
}

.border-red-darken-4 {
  border-color: var(--red-darken-4) !important;
}

.border-red-accent-1 {
  border-color: var(--red-accent-1) !important;
}

.border-red-accent-2 {
  border-color: var(--red-accent-2) !important;
}

.border-red-accent-3 {
  border-color: var(--red-accent-3) !important;
}

.border-red-accent-4 {
  border-color: var(--red-accent-4) !important;
}

.border-red-hvr:hover {
  border-color: var(--red) !important;
}

.border-red-lighten-5-hvr:hover {
  border-color: var(--red-lighten-5) !important;
}

.border-red-lighten-4-hvr:hover {
  border-color: var(--red-lighten-4) !important;
}

.border-red-lighten-3-hvr:hover {
  border-color: var(--red-lighten-3) !important;
}

.border-red-lighten-2-hvr:hover {
  border-color: var(--red-lighten-2) !important;
}

.border-red-lighten-1-hvr:hover {
  border-color: var(--red-lighten-1) !important;
}

.border-red-darken-1-hvr:hover {
  border-color: var(--red-darken-1) !important;
}

.border-red-darken-2-hvr:hover {
  border-color: var(--red-darken-2) !important;
}

.border-red-darken-3-hvr:hover {
  border-color: var(--red-darken-3) !important;
}

.border-red-darken-4-hvr:hover {
  border-color: var(--red-darken-4) !important;
}

.border-red-accent-1-hvr:hover {
  border-color: var(--red-accent-1) !important;
}

.border-red-accent-2-hvr:hover {
  border-color: var(--red-accent-2) !important;
}

.border-red-accent-3-hvr:hover {
  border-color: var(--red-accent-3) !important;
}

.border-red-accent-4-hvr:hover {
  border-color: var(--red-accent-4) !important;
}

.border-red-fcs:focus {
  border-color: var(--red) !important;
}

.border-red-lighten-5-fcs:focus {
  border-color: var(--red-lighten-5) !important;
}

.border-red-lighten-4-fcs:focus {
  border-color: var(--red-lighten-4) !important;
}

.border-red-lighten-3-fcs:focus {
  border-color: var(--red-lighten-3) !important;
}

.border-red-lighten-2-fcs:focus {
  border-color: var(--red-lighten-2) !important;
}

.border-red-lighten-1-fcs:focus {
  border-color: var(--red-lighten-1) !important;
}

.border-red-darken-1-fcs:focus {
  border-color: var(--red-darken-1) !important;
}

.border-red-darken-2-fcs:focus {
  border-color: var(--red-darken-2) !important;
}

.border-red-darken-3-fcs:focus {
  border-color: var(--red-darken-3) !important;
}

.border-red-darken-4-fcs:focus {
  border-color: var(--red-darken-4) !important;
}

.border-red-accent-1-fcs:focus {
  border-color: var(--red-accent-1) !important;
}

.border-red-accent-2-fcs:focus {
  border-color: var(--red-accent-2) !important;
}

.border-red-accent-3-fcs:focus {
  border-color: var(--red-accent-3) !important;
}

.border-red-accent-4-fcs:focus {
  border-color: var(--red-accent-4) !important;
}
