:root {
  --primary: #ff8f00;
  --secondary: #03a9f4;
  --success: #4caf50;
  --info: #00bcd4;
  --warning: #ea80fc;
  --danger: #f44336;
  --light: #fff8e1;
  --dark: #2c2525;
  --gray: #757575;
  --light-gray: #e0e0e0;
  --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans',
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --focus-form-control: #ffab00;
  --focus-form-control-shadow: #fff176;
  --bs-highlight-bg: #fff3cd;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-line-height: 1.5;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-color: #212529;
  --font-active-color: var(--dark);
}