.border-solid {
  --border-style: solid;
}

.border {
  border: var(--border-width) var(--border-style) var(--border-color) !important;
}

.border-hvr:hover {
  border: var(--border-width) var(--border-style) var(--border-color) !important;
}

.border-top {
  border-top: var(--border-width) var(--border-style) var(--border-color) !important;
}

.border-end {
  border-right: var(--border-width) var(--border-style) var(--border-color) !important;
}

.border-bottom {
  border-bottom: var(--border-width) var(--border-style) var(--border-color) !important;
}

.border-start {
  border-left: var(--border-width) var(--border-style) var(--border-color) !important;
}

.border-1px {
  --border-width: 1px;
}

.border-2px {
  --border-width: 2px;
}

.border-3px {
  --border-width: 3px;
}

.border-4px {
  --border-width: 4px;
}

.border-5px {
  --border-width: 5px;
}

.border-025em {
  --border-width: .25em;
}

.border-05em {
  --border-width: .5em;
}

.border-075em {
  --border-width: .75em;
}

.border-1em {
  --border-width: 1em;
}

.border-radius {
  border-radius: var(--border-radius);
}

.border-radius-1px {
  --border-radius: 1px;
}

.border-radius-2px {
  --border-radius: 2px;
}

.border-radius-3px {
  --border-radius: 3px;
}

.border-radius-4px {
  --border-radius: 4px;
}

.border-radius-5px {
  --border-radius: 5px;
}

.border-radius-025em {
  --border-radius: .25em;
}

.border-radius-05em {
  --border-radius: .5em;
}

.border-radius-075em {
  --border-radius: .75em;
}

.border-radius-1em {
  --border-radius: 1em;
}

.border-radius-circle {
  --border-radius: 50% !important;
}

.border-black {
  border-color: var(--black) !important;
}

.border-white {
  border-color: var(--white) !important;
}

.border-transparent {
  border-color: transparent;
}