:root {
  --lime: #cddc39;
  --lime-lighten-5: #f9fbe7;
  --lime-lighten-4: #f0f4c3;
  --lime-lighten-3: #e6ee9c;
  --lime-lighten-2: #dce775;
  --lime-lighten-1: #d4e157;
  --lime-darken-1: #c0ca33;
  --lime-darken-2: #afb42b;
  --lime-darken-3: #9e9d24;
  --lime-darken-4: #827717;
  --lime-accent-1: #f4ff81;
  --lime-accent-2: #eeff41;
  --lime-accent-3: #c6ff00;
  --lime-accent-4: #aeea00;
}

.bg-lime {
  background-color: var(--lime) !important;
}

.bg-lime-lighten-5 {
  background-color: var(--lime-lighten-5) !important;
}

.bg-lime-lighten-4 {
  background-color: var(--lime-lighten-4) !important;
}

.bg-lime-lighten-3 {
  background-color: var(--lime-lighten-3) !important;
}

.bg-lime-lighten-2 {
  background-color: var(--lime-lighten-2) !important;
}

.bg-lime-lighten-1 {
  background-color: var(--lime-lighten-1) !important;
}

.bg-lime-darken-1 {
  background-color: var(--lime-darken-1) !important;
}

.bg-lime-darken-2 {
  background-color: var(--lime-darken-2) !important;
}

.bg-lime-darken-3 {
  background-color: var(--lime-darken-3) !important;
}

.bg-lime-darken-4 {
  background-color: var(--lime-darken-4) !important;
}

.bg-lime-accent-1 {
  background-color: var(--lime-accent-1) !important;
}

.bg-lime-accent-2 {
  background-color: var(--lime-accent-2) !important;
}

.bg-lime-accent-3 {
  background-color: var(--lime-accent-3) !important;
}

.bg-lime-accent-4 {
  background-color: var(--lime-accent-4) !important;
}

.bg-lime-hvr:hover {
  background-color: var(--lime) !important;
}

.bg-lime-lighten-5-hvr:hover {
  background-color: var(--lime-lighten-5) !important;
}

.bg-lime-lighten-4-hvr:hover {
  background-color: var(--lime-lighten-4) !important;
}

.bg-lime-lighten-3-hvr:hover {
  background-color: var(--lime-lighten-3) !important;
}

.bg-lime-lighten-2-hvr:hover {
  background-color: var(--lime-lighten-2) !important;
}

.bg-lime-lighten-1-hvr:hover {
  background-color: var(--lime-lighten-1) !important;
}

.bg-lime-darken-1-hvr:hover {
  background-color: var(--lime-darken-1) !important;
}

.bg-lime-darken-2-hvr:hover {
  background-color: var(--lime-darken-2) !important;
}

.bg-lime-darken-3-hvr:hover {
  background-color: var(--lime-darken-3) !important;
}

.bg-lime-darken-4-hvr:hover {
  background-color: var(--lime-darken-4) !important;
}

.bg-lime-accent-1-hvr:hover {
  background-color: var(--lime-accent-1) !important;
}

.bg-lime-accent-2-hvr:hover {
  background-color: var(--lime-accent-2) !important;
}

.bg-lime-accent-3-hvr:hover {
  background-color: var(--lime-accent-3) !important;
}

.bg-lime-accent-4-hvr:hover {
  background-color: var(--lime-accent-4) !important;
}

.bg-lime-fcs:focus {
  background-color: var(--lime) !important;
}

.bg-lime-lighten-5-fcs:focus {
  background-color: var(--lime-lighten-5) !important;
}

.bg-lime-lighten-4-fcs:focus {
  background-color: var(--lime-lighten-4) !important;
}

.bg-lime-lighten-3-fcs:focus {
  background-color: var(--lime-lighten-3) !important;
}

.bg-lime-lighten-2-fcs:focus {
  background-color: var(--lime-lighten-2) !important;
}

.bg-lime-lighten-1-fcs:focus {
  background-color: var(--lime-lighten-1) !important;
}

.bg-lime-darken-1-fcs:focus {
  background-color: var(--lime-darken-1) !important;
}

.bg-lime-darken-2-fcs:focus {
  background-color: var(--lime-darken-2) !important;
}

.bg-lime-darken-3-fcs:focus {
  background-color: var(--lime-darken-3) !important;
}

.bg-lime-darken-4-fcs:focus {
  background-color: var(--lime-darken-4) !important;
}

.bg-lime-accent-1-fcs:focus {
  background-color: var(--lime-accent-1) !important;
}

.bg-lime-accent-2-fcs:focus {
  background-color: var(--lime-accent-2) !important;
}

.bg-lime-accent-3-fcs:focus {
  background-color: var(--lime-accent-3) !important;
}

.bg-lime-accent-4-fcs:focus {
  background-color: var(--lime-accent-4) !important;
}
