:root {
  --yellow: #ffeb3b;
  --yellow-lighten-5: #fffde7;
  --yellow-lighten-4: #fff9c4;
  --yellow-lighten-3: #fff59d;
  --yellow-lighten-2: #fff176;
  --yellow-lighten-1: #ffee58;
  --yellow-darken-1: #fdd835;
  --yellow-darken-2: #fbc02d;
  --yellow-darken-3: #f9a825;
  --yellow-darken-4: #f57f17;
  --yellow-accent-1: #ffff8d;
  --yellow-accent-2: #ffff00;
  --yellow-accent-3: #ffea00;
  --yellow-accent-4: #ffd600;
}


.bg-yellow-hvr:hover {
  background-color: var(--yellow) !important;
}

.bg-yellow-lighten-5-hvr:hover {
  background-color: var(--yellow-lighten-5) !important;
}

.bg-yellow-lighten-4-hvr:hover {
  background-color: var(--yellow-lighten-4) !important;
}

.bg-yellow-lighten-3-hvr:hover {
  background-color: var(--yellow-lighten-3) !important;
}

.bg-yellow-lighten-2-hvr:hover {
  background-color: var(--yellow-lighten-2) !important;
}

.bg-yellow-lighten-1-hvr:hover {
  background-color: var(--yellow-lighten-1) !important;
}

.bg-yellow-darken-1-hvr:hover {
  background-color: var(--yellow-darken-1) !important;
}

.bg-yellow-darken-2-hvr:hover {
  background-color: var(--yellow-darken-2) !important;
}

.bg-yellow-darken-3-hvr:hover {
  background-color: var(--yellow-darken-3) !important;
}

.bg-yellow-darken-4-hvr:hover {
  background-color: var(--yellow-darken-4) !important;
}

.bg-yellow-accent-1-hvr:hover {
  background-color: var(--yellow-accent-1) !important;
}

.bg-yellow-accent-2-hvr:hover {
  background-color: var(--yellow-accent-2) !important;
}

.bg-yellow-accent-3-hvr:hover {
  background-color: var(--yellow-accent-3) !important;
}

.bg-yellow-accent-4-hvr:hover {
  background-color: var(--yellow-accent-4) !important;
}

.bg-yellow-fcs:focus {
  background-color: var(--yellow) !important;
}

.bg-yellow-lighten-5-fcs:focus {
  background-color: var(--yellow-lighten-5) !important;
}

.bg-yellow-lighten-4-fcs:focus {
  background-color: var(--yellow-lighten-4) !important;
}

.bg-yellow-lighten-3-fcs:focus {
  background-color: var(--yellow-lighten-3) !important;
}

.bg-yellow-lighten-2-fcs:focus {
  background-color: var(--yellow-lighten-2) !important;
}

.bg-yellow-lighten-1-fcs:focus {
  background-color: var(--yellow-lighten-1) !important;
}

.bg-yellow-darken-1-fcs:focus {
  background-color: var(--yellow-darken-1) !important;
}

.bg-yellow-darken-2-fcs:focus {
  background-color: var(--yellow-darken-2) !important;
}

.bg-yellow-darken-3-fcs:focus {
  background-color: var(--yellow-darken-3) !important;
}

.bg-yellow-darken-4-fcs:focus {
  background-color: var(--yellow-darken-4) !important;
}

.bg-yellow-accent-1-fcs:focus {
  background-color: var(--yellow-accent-1) !important;
}

.bg-yellow-accent-2-fcs:focus {
  background-color: var(--yellow-accent-2) !important;
}

.bg-yellow-accent-3-fcs:focus {
  background-color: var(--yellow-accent-3) !important;
}

.bg-yellow-accent-4-fcs:focus {
  background-color: var(--yellow-accent-4) !important;
}

.bg-yellow {
  background-color: var(--yellow) !important;
}

.bg-yellow-lighten-5 {
  background-color: var(--yellow-lighten-5) !important;
}

.bg-yellow-lighten-4 {
  background-color: var(--yellow-lighten-4) !important;
}

.bg-yellow-lighten-3 {
  background-color: var(--yellow-lighten-3) !important;
}

.bg-yellow-lighten-2 {
  background-color: var(--yellow-lighten-2) !important;
}

.bg-yellow-lighten-1 {
  background-color: var(--yellow-lighten-1) !important;
}

.bg-yellow-darken-1 {
  background-color: var(--yellow-darken-1) !important;
}

.bg-yellow-darken-2 {
  background-color: var(--yellow-darken-2) !important;
}

.bg-yellow-darken-3 {
  background-color: var(--yellow-darken-3) !important;
}

.bg-yellow-darken-4 {
  background-color: var(--yellow-darken-4) !important;
}

.bg-yellow-accent-1 {
  background-color: var(--yellow-accent-1) !important;
}

.bg-yellow-accent-2 {
  background-color: var(--yellow-accent-2) !important;
}

.bg-yellow-accent-3 {
  background-color: var(--yellow-accent-3) !important;
}

.bg-yellow-accent-4 {
  background-color: var(--yellow-accent-4) !important;
}
